body {
    background-color: rgba(35, 34, 60, 0.907);
    font: normal 18pt Arial;
    color: aliceblue;
}

h1 {
    
}

header {
    color: azure;
    text-align: center;
}

section {
    background: white;
    font-weight: 700;
    color: dimgray;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    text-align: center;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.455);
}

footer{
    text-align: center;
    font-style: italic;
}