body {
  background-color: rgba(35, 34, 60, 0.907);
  font: normal 18pt Arial;
  color: aliceblue;
  text-align: center;
  justify-content: center;
  align-items: center;
}

h1 {
  background: linear-gradient(
    104deg,
    rgba(82, 126, 155, 0.7033248081841432) 14%,
    rgba(55, 54, 78, 1) 82%);
  border: 1px ridge #496884;
  padding: 0px 20px;
  color: rgb(244, 244, 255);
  display: inline-block;
  border-radius: 7px;
  box-shadow: 0px 10px 20px -10px #0a0b0b;
}

.pai {
  text-align: center; /* Centralize os elementos internos */
}

.input-container {
  display: inline-block; 
  text-align: start; 
}

.input-container p {
  color: black;
}

#between {
  margin: 0 10px 0 0; 
  width: 290px;

}

.btn {
  display: inline-block; /* Elemento do botão em linha com o campo de entrada */
  padding: 7px;
  font-size: 16px;
  border-radius: 5px;
  border: 3px ridge #527e9b;
  background: linear-gradient(
    104deg,
    rgba(82, 126, 155, 0.7033248081841432) 14%,
    rgba(55, 54, 78, 1) 82%);
  color: aliceblue;
  font-weight: 600;
  text-shadow: 10px 10px 30px black;
  box-shadow: 0px 10px 20px -10px #0a0b0b;
  cursor: pointer;
  position: relative;
  bottom: 13px;
  margin-left: 20px;
  transition: box-shadow 0.4s;
}


.btn.active {
  box-shadow: none;
}