body {
  background-color: rgba(35, 34, 60, 0.907);
  font: normal 18pt Arial;
  color: aliceblue;
  text-align: center;
  justify-content: center;
  align-items: center;
}

h1 {
  background: linear-gradient(
    104deg,
    rgba(82, 126, 155, 0.7033248081841432) 14%,
    rgba(55, 54, 78, 1) 82%);
  border: 1px ridge #496884;
  padding: 0px 20px;
  color: rgb(244, 244, 255);
  display: inline-block;
  border-radius: 7px;
  box-shadow: 0px 10px 20px -10px #0a0b0b;
}

.pai {
  text-align: center; /* Centralize os elementos internos */
}

.input-container {
  display: inline-block; 
  text-align: start; 
  margin-left: -133px;
}

.input-container p {
  color: rgb(255, 255, 255);  
}

#between {
  display: flex;
  margin: 0px 0px 0px -1px; 
  top: 100px;
  width: 295px;
  border-radius: 2px;
  
}

.btn, .btn2 {
  display: inline-block; /* Elemento do botão em linha com o campo de entrada */
  padding: 17px;
  font-size: 16px;
  border-radius: 5px;
  border: 3px ridge #527e9b;
  background: linear-gradient(
    104deg,
    rgba(82, 126, 155, 0.7033248081841432) 14%,
    rgba(55, 54, 78, 1) 82%);
  color: aliceblue;
  font-weight: 600;
  text-shadow: 10px 10px 30px black;
  box-shadow: 0px 10px 20px -10px #0a0b0b;
  cursor: pointer;
  position: relative;
  bottom: 13px;
  margin-left: 18px;
  left: 65px;
  transition: box-shadow 0.4s;
}

.btn2, .btn.active {
  box-shadow: none;
}

.btn2 {
  display: flex;
  justify-content: start;
  margin-left: 253px;
  margin-top: 15px;
  padding: 9px;
  width: 300px;
  left: 0px;
  box-shadow: 0px 3px 25px -1px rgba(43, 15, 255, 0.515);  
}

#seld {
  display: flex;
  justify-content: start;
  margin-left: 253px;
  margin-top: 5px;
  width: 299px;
}

.text {
  background-color: #527e9b;
  border-radius: 2px;
  width: 300px;
}